@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
 .container {
	 width: 20vw;
	 height: 20vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
}
 .container .box {
	 width: 300px;
	 height: 300px;
	 position: relative;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
}
 .container .box .title {
	 width: 100%;
	 position: relative;
	 display: flex;
	 align-items: center;
	 height: 50px;
}
 .container .box .title .block {
	 width: 0%;
	 height: inherit;
	 background: #ffb510;
	 position: absolute;
	 animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 display: flex;
}
 .container .box .title h1 {
	 font-family: 'Poppins';
	 color: #fff;
	 font-size: 32px;
	 -webkit-animation: mainFadeIn 2s forwards;
	 -o-animation: mainFadeIn 2s forwards;
	 animation: mainFadeIn 2s forwards;
	 animation-delay: 1.6s;
	 opacity: 0;
	 display: flex;
	 align-items: baseline;
	 position: relative;
}
 .container .box .title h1 span {
	 width: 0px;
	 height: 0px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 background: #ffb510;
	 -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 animation-delay: 2s;
	 margin-left: 5px;
	 margin-top: -10px;
	 position: absolute;
	 bottom: 13px;
	 right: -12px;
}
 .container .box .role {
	 width: 100%;
	 position: relative;
	 display: flex;
	 align-items: center;
	 height: 30px;
	 margin-top: -10px;
}
 .container .box .role .block {
	 width: 0%;
	 height: inherit;
	 background: #e91e63;
	 position: absolute;
	 animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 animation-delay: 2s;
	 display: flex;
}
 .container .box .role p {
	 animation: secFadeIn 2s forwards;
	 animation-delay: 3.2s;
	 opacity: 0;
	 font-weight: 400;
	 font-family: 'Lato';
	 color: #fff;
	 font-size: 12px;
	 text-transform: uppercase;
	 letter-spacing: 5px;
}
 @keyframes mainBlock {
	 0% {
		 width: 0%;
		 left: 0;
	}
	 50% {
		 width: 100%;
		 left: 0;
	}
	 100% {
		 width: 0;
		 left: 100%;
	}
}
 @keyframes secBlock {
	 0% {
		 width: 0%;
		 left: 0;
	}
	 50% {
		 width: 100%;
		 left: 0;
	}
	 100% {
		 width: 0;
		 left: 100%;
	}
}
 @keyframes mainFadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 @keyframes secFadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 0.5;
	}
}
 