body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light grey */
  color: #333; /* Dark grey text */
}

header {
  background: #333; /* Dark grey */
  color: #fff;
  padding: 2em 0;
  text-align: center;
}

h1,
h2 {
  color: #ffffff; /* White */
}

h2 {
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 0.5em;
}

p {
  line-height: 1.6;
}

section {
  width: 80%;
  margin: 2em auto;
  padding: 1.5em;
  background: #fff; /* White */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #333; /* Dark grey text on white background */
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project {
  flex: 0 0 48%;
  margin: 1em 0;
  background: #f4f4f4; /* Light grey */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  color: #333; /* Dark grey text on light grey background */
}

.project img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd; /* Lighter grey */
}

.project h3 {
  color: #333; /* Dark grey text */
}

.project:hover {
  transform: scale(1.05);
}

.contact {
  width: 80%;
  margin: 2em auto;
  padding: 1.5em;
  text-align: center;
  background: #fff; /* White */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: #333; /* Dark grey text on white background */
}

.contact a {
  display: inline-block;
  margin: 0 1em;
  text-decoration: none;
  color: #2c3e50; /* Dark blue-grey */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.contact a:hover {
  color: #1f2d3d; /* Slightly darker blue-grey */
}

footer {
  text-align: center;
  padding: 1em;
  background: #333; /* Dark grey */
  color: #fff;
}